.editor-toolbar-large {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.editor-toolbar-small {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.editor-user-profile {
  display: inline-block;
  object-fit: cover;
  object-position: center;
  margin: 0.7rem;
  border-radius: 50%;
}
