.discover-search__focused {
  border: 2px solid blue;
  background-color: white;
  border-radius: 1rem;
}

.discover_container > input {
  border: none;
  padding: 0.7rem 0rem;
  background-color: #f5f5f5;
  width: 85%;
}

.discover-search__focused > input {
  border: none !important;
  padding: 0.7rem 0rem;
  background-color: white;
  outline: none;
  margin-left: 1rem;
  width: 85%;
}

.discover_container > span {
  padding: 0rem 0.5rem;
}
