@media (min-width: 768px) {
  .forgot-password-email-container > p {
    width: 75%;
    margin: auto;
  }
  .forgot-password-email-container > input {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .forgot-password-email-container > label {
    display: block;
    text-align: start;
  }
}
