.app-text-area {
  width: 100%;
  font-size: large;
  border: none;
}

.app-text-area:focus {
  outline: none;
}

.app-text-area::placeholder {
  font-size: large;
}

.normal-text-area {
  font-size: large;
  outline-color: rgb(134, 183, 254);
  border-radius: 7px;
  height: "35px";
}
