.friends_profile--img {
  object-fit: cover;
  object-position: center;
  margin: 0.7rem;
  border-radius: 50%;
}

.friends-list-container:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.signup-friends-list-container {
  background-color: white;
}

.signup-friends-list-container:hover {
  cursor: pointer;
  background-color: aliceblue;
}
