.modal_profile--img {
  object-fit: cover;
  object-position: center;
  margin: 0.7rem;
  border-radius: 50%;
}

.feed-meta-container:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.App-modal-close__button {
  position: absolute;
  top: 2%;
  right: 3%;
  cursor: pointer;
}

.App-modal-close__button:active {
  color: red;
}
.App-modal-close__button:hover {
  color: red;
}
