.editor-image {
  width: 5rem;
  height: 5rem;
  border-radius: 10%;
}

.editor-imgage-container {
  position: relative;
}

.editor-image-close-button {
  position: absolute;
  top: -9%;
  left: 12%;
  color: brown;
}

.editor-image-view-button {
  position: absolute;
  top: 43%;
  left: 4%;
}

.editor-image-close-button:hover {
  color: red;
}

.editor-image:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .editor-image-close-button {
    position: absolute;
    top: -9.5%;
    left: 20.5%;
  }
  .editor-image-view-button {
    position: absolute;
    top: 43%;
    left: 8.5%;
  }
}
