.sidebar-container {
  height: 80vh;
  overflow: auto;
  border-right: 1px solid black;
  position: sticky;
  top: 0;
}

.sidebar-menu {
  margin: 0 0.5rem 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  display: inline-block;
}

.sidebar-menu:hover {
  background-color: rgb(13, 110, 253);
  color: white;
}
