.cursor-pointer {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

.discover_container {
  border: 2px solid whitesmoke;
  border-radius: 1rem;
  background-color: #f5f5f5;
}

.form-control:focus {
  box-shadow: 0 0 0 0 !important;
}

.user-name-style:hover {
  text-decoration: underline;
}

.user-name-style {
  cursor: pointer;
}

@media (max-width: 767px) {
  .sm-btn-ctm {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
  }
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px);
  z-index: 9999;
}

.loading-indicator::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #3498db;

  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
