.signup-edit-prof__camicon1 {
  color: white;
  background-color: #000;
  opacity: 0.5;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.signup-edit-prof-img {
  object-fit: cover;
  object-position: center;
}

.signup-edit-prof {
  display: flex;
  justify-content: center;
  position: relative;
}

.interest-single-container {
  height: 70%;
  cursor: pointer;
  border: 1px solid transparent;
}

.interest-single-container:hover {
  border: 1.5px solid blue;
}

.interset-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.interest-selected-count {
  padding-top: 0.6rem;
  position: sticky;
  top: -8%;
  background-color: whitesmoke;
}

@media (max-width: 767px) {
  .signup-user-info-container > div:not(:first-child) {
    margin-top: 1.3rem;
  }

  .signup-user-info-container > div > label {
    display: block;
    text-align: start;
    margin-left: 0.3rem;
  }

  .signup-user-info-container > div > input {
    width: 100%;
  }
  .signup-content-expand {
    height: 3rem;
    overflow: hidden;
  }
  .content-expand-icon {
    position: absolute;
    top: 2%;
    right: 0%;
    color: rgb(13, 110, 253);
  }
  .content-expand-interest-icon {
    position: absolute;
    top: 28%;
    right: -1%;
    color: rgb(13, 110, 253);
  }
}

@media (min-width: 768px) {
  .signup-user-info-container > div:not(:nth-child(-n + 2)) {
    margin-top: 1.3rem;
  }

  .signup-user-info-container > div > label {
    display: block;
    text-align: start;
    margin-left: 0.3rem;
  }

  .signup-user-info-container > div > input {
    width: 80%;
  }
}
